@import "../../pages/DashboardPage/DashboardPage.module";

.navigationContainer {
  background-color: #455A89;
  min-height: 100vh;

  padding: 16px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 0.25s;
}

.navigationContainerOpen {
  min-width: 250px;

  span{
    transition: all ease 0.25s;
    position: relative;
    opacity: 1;
  }
}

.navigationContainerClose {
  min-width: 70px;

  span{
    opacity: 0;
    position: absolute;
    left: -180px;
  }

  li {
    margin-top: 0px;
    padding: 15px 0px;

    &:hover {
      background-color: #8477E4;
    }
  }
}


.navLogo {
  width: 48px;
  height: 48px;
}

.divider {
  @extend .text;
  margin-top: 16px;
  width: 100%;
  text-align: center;
  // border-bottom: 1px solid grey;
}