@import "src/view/pages/DashboardPage/DashboardPage.module";

.navigationContainer {
  background-color: #455A89;
  min-height: 100vh;


  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 0.25s;

  a {
    padding: 16px 10px;
  }

  ul {
    width: 100%;
  }
}

.navigationContainerOpen {
  min-width: 250px;


  span{
    transition: all ease 0.25s;
    position: relative;
    opacity: 1;
  }
}

.navigationContainerClose {
  min-width: 70px;

  span {
    opacity: 0;
    position: absolute;
    left: -180px;
  }

  a {


    &:hover {
      background-color: #8477E4;
    }
  }
}


.navLogo {
  width: 48px;
  height: 48px;
}

.divider {
  @extend .text;
  margin: 12px 50px;

  align-self: flex-start;
  // border-bottom: 1px solid grey;
}