.container{

}

.header{
  height: 100px;
  min-width: 100vw;
  max-width: 100vw;
}

.lightTheme{
  background-color: aqua;
  color: black;
}
.darkTheme{
  background-color: saddlebrown;
  color: white;
}